<div ng-controller="SettingsController as ctrl" class="content">
  <md-content class="md-padding">
    <form name="settingsForm">
      <div layout>
        <md-switch flex="75" ng-model="ctrl.settings.automaticallyMarkAsSeen" aria-label="automaticallyMarkAsSeen">
          Automatically mark as "seen"
        </md-switch>
        <md-button class="md-fab md-mini md-primary" aria-label="Save" ng-click="ctrl.saveSettings()">
          <md-icon md-svg-src="img/ic_save_24px.svg"></md-icon>
        </md-button>
      </div>
      <md-switch flex="75" ng-model="ctrl.settings.allowNotifications" aria-label="allowNotifications">
        Show notifications
      </md-switch>
      <md-switch flex="75" ng-model="ctrl.settings.advanced" aria-label="advanced">
        Advanced mode
      </md-switch>
      <div ng-if="ctrl.settings.advanced">
        <md-input-container md-no-float ng-repeat="olxLink in ctrl.settings.olxLink track by $index">
          <md-icon md-svg-src="img/ic_insert_link_48px.svg" class="md-primary"></md-icon>
          <input ng-model="ctrl.settings.olxLink[$index]" type="url" placeholder="Olx link">
          <div ng-if="$index > 0" style="display:inline-block; right: 2px; left: auto; position: absolute; top: 5px;"
               ng-click="ctrl.removeOlxLink($index)">
            <md-icon md-svg-src="img/ic_remove_48px.svg"></md-icon>
          </div>
        </md-input-container>
        <md-button class="md-mini md-primary" aria-label="Add Olx Link" ng-click="ctrl.addOlxLink()">
          Add Olx Link
        </md-button>
        <md-input-container md-no-float ng-repeat="gumtreeLink in ctrl.settings.gumtreeLink track by $index">
          <md-icon md-svg-src="img/ic_insert_link_48px.svg" class="md-primary"></md-icon>
          <input ng-model="ctrl.settings.gumtreeLink[$index]" type="url" placeholder="Gumtree link">
          <div ng-if="$index > 0" style="display:inline-block; right: 2px; left: auto; position: absolute; top: 5px;"
               ng-click="ctrl.removeGumtreeLink($index)">
            <md-icon md-svg-src="img/ic_remove_48px.svg"></md-icon>
          </div>
        </md-input-container>
        <md-button class="md-mini md-primary" aria-label="Add Gumtree Link" ng-click="ctrl.addGumtreeLink()">
          Add Gumtree Link
        </md-button>
      </div>
      <div ng-if="!ctrl.settings.advanced">
        <md-autocomplete flex
                         md-selected-item="ctrl.settings.location"
                         md-search-text="ctrl.settings.locationDisplay"
                         md-items="item in ctrl.querySearch(ctrl.settings.locationDisplay)"
                         md-item-text="item.display"
                         md-floating-label="Location">
          <span>{{item.display}}</span>
        </md-autocomplete>
        <md-button class="md-warn"
                   ng-if="!ctrl.settings.location || (ctrl.settings.location.display !== ctrl.settings.locationDisplay)">
          Notice that you didn't select "Location"
        </md-button>

        <div layout="column" layout-align="start start">
          <md-select ng-model="ctrl.settings.category" placeholder="Category">
            <md-option ng-repeat="category in ctrl.categories" ng-value="category.value">{{category.name}}</md-option>
          </md-select>
        </div>

        <div layout="column" layout-align="start start">
          <md-select ng-model="ctrl.settings.sizeType" placeholder="Number of rooms">
            <md-option ng-repeat="sizeType in ctrl.sizeTypes" ng-value="sizeType.value">{{sizeType.name}}</md-option>
          </md-select>
        </div>

        <div layout layout-xs="column">
          <md-input-container flex="50">
            <label>Price from</label>
            <input ng-model="ctrl.settings.priceFrom" type="number" placeholder="Min Price">
          </md-input-container>
          <md-input-container flex="50">
            <label>Price to</label>
            <input ng-model="ctrl.settings.priceTo" type="number" placeholder="Max Price">
          </md-input-container>
        </div>

        <p>Ownership</p>
        <md-radio-group ng-model="ctrl.settings.owner">
          <md-radio-button value="both" class="md-primary">Both</md-radio-button>
          <md-radio-button value="private" class="md-primary">Private</md-radio-button>
          <md-radio-button value="agency" class="md-primary">Agency</md-radio-button>
        </md-radio-group>
      </div>
      <div layout>
        <div flex="15" layout layout-align="center center">
          <span>Refresh time (min)</span>
        </div>
        <md-slider flex="80" class="md-primary" md-discrete ng-model="ctrl.settings.interval" step="1" min="1" max="30"
                   aria-label="rating">
        </md-slider>
      </div>
    </form>
  </md-content>
</div>